<!--The content below is only a placeholder and can be replaced.-->
<mat-card class="act-wrapper">
  <div class="img-wrapper">
    <img src="../../../../assets/img/guitar-man.jpg" alt="">
  </div>
  <div class="content-wrapper">
    <div class="content-header">
      <mat-icon>reply</mat-icon>
      <mat-icon>turned_in_not</mat-icon>
    </div>
    <div class="act-content">
    <h2>Guy Rose and the Bank</h2>
      <mat-icon>event</mat-icon> <span class="act-detail">Today | <span> 1192 Queen St W</span> </span> <br>
      <mat-icon>location_on</mat-icon> <span class="act-detail">Cameron House | <span>8:30pm</span></span> <br>
      <mat-icon>info</mat-icon> <span class="act-detail">Cameron House | <span>8:30pm</span></span> <br>
      <b>  #</b>  <span> Music folk Relaxed Vibing Food Drinks </span>
    </div>
    <div class="act-footer">
      <div>
        <span class="act-price">$25</span>
        <div class="act-tickets"><span>tickets</span></div>
        <p class="more-info" [routerLink]="['/u-act']">More info</p>
      </div>
      <div class="author-wrapper">
        <div >
          <span>UPLOADED BY</span> <br>
          <p>@MajorProductions</p>
        </div>
        <img src="../../../../assets/img/guitar-man.jpg" alt="" >
      </div>

    </div>
  </div>
</mat-card>
