<!--The content below is only a placeholder and can be replaced.-->
<div class="log-in-wrapper">
  <img src="../../assets/img/logo.png" alt="" class="top-logo">
  <p class="login">Login</p>
  <p>The Book of Acts is completely free to use.</p>

  <form class="login-form">
    <mat-form-field appearance="outline" class="red-input">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username">
    </mat-form-field>
    <br>

    <mat-form-field appearance="outline" class="red-input">
      <mat-label>Password</mat-label>
      <input matInput placeholder="password" type="password">
    </mat-form-field>
    <br>
    <button mat-button class="red-button">Login</button>
    <p class="no-account">No account?</p>
    <p>Sign Up</p>
    <img src="../../assets/img/inst_logo.png" alt="">
    <p>© 2018 The book of Acts</p>
  </form>
</div>

