
.top-logo {
  margin-top: 40px;
}

.log-in-wrapper {
  width: 100%;
  height: 100vh;

  background-image: url('../../assets/img/login-bg.png');
  text-align: center;


  p {
    margin: 0;
  }

  p.login {
    margin: 40px 0 10px 0;
    font-size: 26px;
  }
}

.login-form {
  margin-top: 20px;

  mat-form-field {
    width: 100%;
    max-width: 430px;
  }

  button {
    width: 100px;
    margin-bottom: 20px;
  }

  p.no-account {
    font-size: 12px;
    margin-bottom: 5px;
  }

  img {
    margin: 50px 0 20px 0;
  }
}

.red-button {
  margin-top: 10px;
}

