<!--The content below is only a placeholder and can be replaced.-->
<div class="add-act-container">
  <img src="../../assets/img/logo-with-red-bg.png" alt="" class="logo-img">
    <mat-card >
      <form>
        <h1 class="custom-red-color">Add an Act</h1>
        <mat-form-field appearance="outline" class="red-input">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username">
        </mat-form-field>
        <br>



          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        <div class="form-row">
          <mat-form-field appearance="outline" class="red-input">
            <input matInput placeholder="Duration">
            <mat-hint>Decimal points okay</mat-hint>
          </mat-form-field> Hour(s)
        </div>


        <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="Location">
        </mat-form-field>


        <div class="form-row">
          www. <mat-form-field appearance="outline" class="red-input">
            <input matInput placeholder="Link (Optional)">
            <mat-label>Link (Optional)</mat-label>
            <mat-hint>Submit a link that conveys what will be happening</mat-hint>
          </mat-form-field>
        </div>


        <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="Tags">
          <mat-label>Tags</mat-label>
          <mat-hint>Using hashtags follow this formula: #category #type #setting $activity <br>
            Ex: #music #folk #relaxed #vibing <br>
            #art #contemporary #gallery #discussion <br>
            #theatre #comedy #saloon #laughs <br>
            #athletics #thinking #outdoors #exercise
          </mat-hint>
        </mat-form-field>


        <div class="form-row age-wrapper" >
          <mat-form-field appearance="outline" class="red-input">
            <input matInput placeholder="Age">
            <mat-label>Age</mat-label>
          </mat-form-field>
          <mat-checkbox>Alcohol</mat-checkbox>
          <mat-checkbox>Food</mat-checkbox>
        </div>


        <div class="form-row price-row" >
          <mat-form-field>
            <mat-select placeholder="Price">
              <mat-option *ngFor="let price of price" [value]="price.value">
                {{ price.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div>
            $<mat-form-field appearance="outline" class="red-input">
            <input matInput placeholder="Amount">
            <mat-label>Amount</mat-label>
          </mat-form-field>
          </div>

          <mat-form-field>
            <mat-select placeholder="Method">
              <mat-option *ngFor="let method of method" [value]="method.value">
                {{ method.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="form-row">
          www. <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="Ticket Purchase Link">
          <mat-label>Ticket Purchase Link</mat-label>
          <mat-hint>wiil bu displayed, when method3 is chosen</mat-hint>
        </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="More Info (Optional)">
          <mat-label>More Info (Optional)</mat-label>
        </mat-form-field>

        <div class="image-drop-place">
          <mat-icon>cloud_upload</mat-icon>
          <p>Main Image</p>
          <p>Drag and drop a file or click here</p>
        </div>
        <p>For the best results upload a high rex, no text, fresh, clean image</p>

        <button mat-button class="red-button round-button">Submit</button>

    </form>
    </mat-card>
</div>




