<!--The content below is only a placeholder and can be replaced.-->
<div class="edit-profile-container">
  <img src="../../assets/img/logo-with-red-bg.png" alt="" class="logo-img">
    <mat-card >
      <form>
        <div class="profile-header">
          <mat-icon>account_circle</mat-icon>
          <p><b>@Joel</b></p>
        </div>

        <div class="tag-wrapper">
          <mat-chip-list>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip color="primary" selected="true">#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>
            <mat-chip>#Chip</mat-chip>

          </mat-chip-list>
        </div>
        <p class="small-hint">Choose some of your interest</p>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Add your age to see relevant content</mat-hint>
        </mat-form-field>

        <mat-checkbox>Alcohol</mat-checkbox>

        <mat-checkbox>Food</mat-checkbox>

        <mat-checkbox>Notification for bookmarks</mat-checkbox>

        <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="Email">
          <mat-label>Email</mat-label>
        </mat-form-field>

        <mat-form-field appearance="outline" class="red-input">
          <input matInput placeholder="Edit password">
          <mat-label>Edit password</mat-label>
        </mat-form-field>

        <p class="grey-link">About</p>
        <p class="grey-link">Terms</p>
        <p class="grey-link">Privacy</p>
        <p class="grey-link">Feedback</p>
        <p class="grey-link">Logout</p>


        <button mat-button class="red-button round-button">Submit</button>

    </form>
    </mat-card>
</div>




